<div class="form-group">
    <label>
        {{localize "CHEX.CUSTOMIZER.Id"}}
        <input type="text" name="terrains.{{id}}.id" value="{{id}}">
    </label>
    <label>
        {{localize "CHEX.CUSTOMIZER.Label"}}
        <input type="text" name="terrains.{{id}}.label" value="{{this.label}}">
    </label>
    <label>
        {{localize "CHEX.CUSTOMIZER.Image"}}
        <input class="icon-path" type="text" name="terrains.{{id}}.img" value="{{this.img}}">
        <button class="chex-open-filepicker" data-action="pickIcon">{{localize "CHEX.CUSTOMIZER.PickIcon"}}</button>
    </label>
    <label>
        {{localize "CHEX.CUSTOMIZER.ToolIcon"}}
        <input type="text" name="terrains.{{id}}.toolIcon" value="{{this.toolIcon}}">
    </label>
    <label>
        {{localize "CHEX.CUSTOMIZER.ToolIcon"}}
        <input type="text" name="terrains.{{id}}.travel" value="{{this.travel}}">
    </label>
    <label>
        {{localize "CHEX.CUSTOMIZER.Color"}}
        <input type="color" name="terrains.{{id}}.color" value="{{this.color}}">
    </label>
    <button data-tooltip="CHEX.HEXEDIT.Delete" type="button" class="fa-solid fa-times chex-delete" data-action="delete"/>
</div>