{{#with improvement}}
    <div class="chex-grid-container">
        <!-- First Row -->
        <button data-tooltip="CHEX.HEXEDIT.Delete" type="button" class="fa-solid fa-times chex-delete" data-action="delete"></button>
        <div class="chex-item-container">
            <p class="chex-item">
                <span data-tooltip="CHEX.CUSTOMIZER.IdTT" class="chex-key">{{localize "CHEX.CUSTOMIZER.Id"}}</span>
                <input type="text" name="improvements.{{id}}.id" value="{{id}}">
            </p>
            <p class="chex-item">
                <span class="chex-key">{{localize "CHEX.CUSTOMIZER.Label"}}</span>
                <input type="text" name="improvements.{{id}}.label" value="{{this.label}}">
            </p>
            <p class="chex-item">
                <span class="chex-key">{{localize "CHEX.CUSTOMIZER.Image"}}</span>
                <input class="chex-icon-path" type="text" name="improvements.{{id}}.img" value="{{this.img}}">
                <button data-tooltip="CHEX.CUSTOMIZER.PickIconTT" class="fa-solid fa-image chex-open-filepicker" data-action="pickIcon"></button>
            </p>
            <p class="chex-item">
                <span data-tooltip="CHEX.CUSTOMIZER.FormulaTT" class="chex-key">{{localize "CHEX.CUSTOMIZER.Formula"}}</span>
                <input type="text" name="improvements.{{id}}.special" value="{{this.special}}">
            </p>
        </div>
        <img class="chex-img-preview" src="{{this.img}}" alt="Image Preview">
    </div>
{{/with}}