<div class="form-group">
    <label>
        {{localize "CHEX.CUSTOMIZER.Id"}}
        <input type="text" name="features.{{id}}.id" value="{{id}}">
    </label>
    <label>
        {{localize "CHEX.CUSTOMIZER.Label"}}
        <input type="text" name="features.{{id}}.label" value="{{this.label}}">
    </label>
    <label>
        {{localize "CHEX.CUSTOMIZER.Image"}}
        <input type="text" name="features.{{id}}.img" value="{{this.img}}">
        <button class="chex-open-filepicker" data-action="pickIcon">{{localize "CHEX.CUSTOMIZER.PickIcon"}}</button>
    </label>
    <button data-tooltip="CHEX.HEXEDIT.Delete" type="button" class="fa-solid fa-times chex-delete" data-action="delete"/>
</div>