{{#with travel}}
    <div class="chex-grid-container">
        <!-- First Row -->
        <button data-tooltip="CHEX.HEXEDIT.Delete" type="button" class="fa-solid fa-times chex-delete" data-action="delete"></button>
        <div class="chex-item-container">
            <p class="chex-item">
                <span data-tooltip="CHEX.CUSTOMIZER.IdTT" class="chex-key">{{localize "CHEX.CUSTOMIZER.Id"}}</span>
                <input type="text" name="travels.{{id}}.id" value="{{id}}">
            </p>
            <p class="chex-item">
                <span class="chex-key">{{localize "CHEX.CUSTOMIZER.Label"}}</span>
                <input type="text" name="travels.{{id}}.label" value="{{this.label}}">
            </p>
            <p class="chex-item">
                <span data-tooltip="CHEX.CUSTOMIZER.MultiplierTT" class="chex-key">{{localize "CHEX.CUSTOMIZER.Multiplier"}}</span>
                <input type="number" name="travels.{{id}}.multiplier" value="{{this.multiplier}}">
            </p>
            <p class="chex-item">
                <span class="chex-key">{{localize "CHEX.CUSTOMIZER.Color"}}</span>
                <input type="color" name="travels.{{id}}.color" value="{{this.color}}">
            </p>
            <p class="chex-item">
                <span data-tooltip="CHEX.CUSTOMIZER.SpecialTT" class="chex-key">{{localize "CHEX.CUSTOMIZER.Special"}}</span>
                <input type="checkbox" name="travels.{{id}}.special" {{checked this.special}}>
            </p>
        </div>
    </div>
{{/with}}