<div class="form-group">
    <select name="features.{{id}}.id">
        {{selectOptions features selected=key nameAttr="id" labelAttr="label" blank=""}}
    </select>
    <input type="text" data-tooltip="CHEX.HEXEDIT.Name" name="features.{{id}}.name" value="{{name}}">
    <input type="checkbox" data-tooltip="CHEX.HEXEDIT.ShowToPlayersTooltip" name="features.{{id}}.show" {{checked show}}>
    <button data-tooltip="CHEX.HEXEDIT.Delete" type="button" class="fa-solid fa-times chex-delete" data-action="delete"/>
</div>