<div class="form-group">
    <select name="resources.{{id}}.id">
        {{selectOptions resources selected=key nameAttr="id" labelAttr="label" blank=""}}
    </select>
    <input type="number" data-tooltip="CHEX.HEXEDIT.Amount" value="{{amount}}">
    <input type="checkbox" data-tooltip="CHEX.HEXEDIT.ShowToPlayersTooltip" name="resources.{{id}}.show" {{checked show}}>
    <button data-tooltip="CHEX.HEXEDIT.Delete" type="button" class="icon fa-solid fa-times" data-action="delete"/>
</div>