{{#with improvement}}
    <div class="form-group chex-flex">
        <p class="chex-item">
            <span class="chex-key">{{localize "CHEX.CUSTOMIZER.Id"}}</span>
            <input type="text" name="improvements.{{id}}.id" value="{{id}}">
        </p>
        <p class="chex-item">
            <span class="chex-key">{{localize "CHEX.CUSTOMIZER.Label"}}</span>
            <input type="text" name="improvements.{{id}}.label" value="{{this.label}}">
        </p>
        <p class="chex-item">
            <span class="chex-key">{{localize "CHEX.CUSTOMIZER.Image"}}</span>
            <input class="chex-icon-path" type="text" name="improvements.{{id}}.img" value="{{this.img}}">
            <button class="chex-open-filepicker" data-action="pickIcon">
                <i class="fa-solid fa-image"></i>
            </button>
        </p>
        <p class="chex-item">
            <span class="chex-key">{{localize "CHEX.CUSTOMIZER.Formula"}}</span>
            <input type="text" name="improvements.{{id}}.special" value="{{this.special}}">
        </p>
        <p class="chex-item">
            <button data-tooltip="CHEX.HEXEDIT.Delete" type="button" class="fa-solid fa-times chex-delete" data-action="delete"/>
        </p>
        <img class="chex-img-preview" src="{{this.img}}" alt="Image Preview">
    </div>
{{/with}}