<div class="form-group feature">
    <select name="features.{{id}}.type">
        {{selectOptions features selected=type labelAttr="label" blank="" localize=true}}
    </select>
    <input type="text" name="features.{{id}}.name" value="{{name}}">
    <input type="checkbox" name="features.{{id}}.discovered" {{checked discovered}} data-tooltip="REALMS.HEXTOOL.Discovered">
    <button data-tooltip="Remove" type="button" class="icon fa-solid fa-times" data-action="removeFeature"></button>
</div>
