<aside id="{{id}}" class="{{cssClass}}">
        
        {{!== HEX ==}}
        <div>
            {{! Only show the encounter if there is one and the user has sufficient permission to see it}}
            {{#if displayEncounter}}
            <p class="title item">
                {{! Icon & color of name depend on visibility}}
                {{#if hex.data.showEncounter}}
                <i class="fa-solid fa-eye"></i>
                <span class="key">{{hex.name}}</span>
                {{else}}
                <i class="fa-solid fa-eye-slash"></i>
                <span class="key unknown">{{hex.name}}</span>
                {{/if}}
                <span class="value gray">{{localize "REALMS.HEXTOOL.Hex"}} #{{hex}}</span>
            </p>
            <ul class="traits">
                <li>{{localize hex.discoveryTrait.label}}</li>
                {{#if hex.data.resourceTrait}}
                <li>{{localize "REALMS.HEXTOOL.Resource"}}</li>
                {{/if}}
            </ul>
            {{else}}
            {{! We always want to show the coordinates}}
            <p class="title item">
                <span class="value gray">{{localize "REALMS.HEXTOOL.Hex"}} #{{hex}}</span>
            </p>
            {{/if}}
        </div>

        {{!== TRAVEL ==}}
        {{! Travel information is always visible}}
        <div class="group flex">
            <div>
                {{#if hex.zone.label}}
                <p class="item">
                    <span class="gray key">{{localize "REALMS.HEXTOOL.Zone"}}</span>
                    <span class="value">{{localize zone.label}}</span>
                </p>
                {{/if}}
                {{#if hex.terrain.label}}
                <p class="item">
                    <span class="gray key">{{localize "REALMS.HEXTOOL.Terrain"}}</span>
                    <span class="value">{{localize hex.terrain.label}}</span>
                </p>
                {{/if}}
                {{#if hex.travel.label}}
                <p class="item">
                    <span class="gray key">{{localize "REALMS.HEXTOOL.Travel"}}</span> 
                    <span class="value">{{localize hex.travel.label}}</span>
                </p>
                {{/if}}
            </div>
            {{#if hex.terrain.img}}
            <img class="terrain" src="{{hex.terrain.img}}" alt="{{hex}}">
            {{/if}}
        </div>

        {{!== EXPLORATION ==}}
        {{! Exploration information is always visible}}
        <div class="group">
            {{~#if explored}}
            <p class="item">
                <span class="key">{{localize "REALMS.HEXTOOL.Explored"}}</span>
                <span class="value">{{localize hex.explorationState.label}}</span>
            </p>
            {{/if~}}
            {{~#if hex.data.cleared}}
            <p class="item">
                <span class="key">{{localize "REALMS.HEXTOOL.Cleared"}}</span>
                <i class="fa-solid fa-check"></i>
            </p>
            {{/if~}}
            {{~#if hex.data.claimed}}
            <p class="item">
                <span class="key">{{localize "REALMS.HEXTOOL.Claimed"}}</span>
                <i class="fa-solid fa-flag"></i>
            </p>
            {{/if~}}
        </div>

        {{!== RESOURCES ==}}
        {{! Camps & Commodities are only visible if they exist, and the user is a GM or "showResources" is true}}
        {{#if displayResources}}
        {{#if hex.data.showResources}}
        <div class="group resources">
        {{else}}
        <div class="group resources unknown">
        {{/if}}
            {{~#if commodity}}
            <p class="item">
                <img src="{{commodity.img}}" alt='{{feature.name}}'>
                <span class="key">{{localize commodity.label}}</span>
                <span class="value gray">{{localize "REALMS.HEXTOOL.Commodity"}}</span>
            </p>
            {{/if}}
            {{~#if camp}}
            <p class="item">
                <img src="{{camp.img}}" alt='{{feature.name}}'>
                <span class="key">{{localize camp.label}}</span>
                <span class="value gray">{{localize "REALMS.HEXTOOL.Camp"}}</span>
            </p>
            {{/if~}}
        </div>
        {{/if}}

        </section>

        {{!== FEATURES ==}}
        {{! Features are hidden by default but can individually be revealed}}
        {{#if features.length}}
        <div class="group feature">
            {{#each features as |feature|}}
            {{#if feature.discovered}}
            <p class="item">
            {{else}}
            <p class="item unknown">
            {{/if}}
                <img src="{{feature.img}}" alt='{{feature.name}}'>
                <span class="key">{{feature.name}}</span>
                <i class="fa-solid {{ifThen feature.discovered 'fa-eye' 'fa-eye-slash'}}"></i>
            </p>
            {{/each}}
        </div>
        {{/if}}

</aside>
